# Server 
PORT=5000
NODE_ENV=development
CORS_ORIGIN=['/', '/']

# Database Config
DATABASE_URL=mongodb+srv://userName:password@cluster0.jowkg7d.mongodb.net
DB_NAME=RoleFlow

# Security
BCRYPT_SALT_ROUNDS=10

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# SMTP Config
SMTP_EMAIL_USER=
SMTP_EMAIL_PASS=